$bg-color: #e6e6e6;
$main-blue: #4174f8;
$gray: #787878;
$border-color: #d2d2d2;
$scrollbar-color: #c2c2c2;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-Regular.ttf);
	font-weight: 400;
}

html,
body {
	font-size: 10px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: $bg-color;
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	position: relative;
}

p {
	font-size: 1.6rem;
}

input {
	font-size: 1.6rem;
}

main {
	max-width: 60rem;
	width: 100%;
}
.main__bg {
	position: absolute;
	max-width: 60rem;
	background-color: $main-blue;
	& img {
		width: 100%;
	}
	border-radius: 0.8rem;
	z-index: -1;
}
.main__chat {
	width: 100%;
	overflow-y: scroll;
	padding: 3rem 2rem;
	display: grid;
	gap: 1.6rem;
	z-index: 99;
	max-height: 70vh;
}

.main__message {
	background: white;
	padding: 1.6rem 1.6rem 0.8rem;
	max-width: 40rem;
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0.8rem;
	& span {
		align-self: flex-end;
		color: $gray;
	}
}
.main__form {
	z-index: 99;
	width: 100%;
}
.main__input-group {
	display: flex;
	background: #fff;
}
.main__input {
	width: 100%;
	padding: 1.6rem 2rem;
	border: none;
	outline: none;
	& :focus {
		border: none;
		outline: none;
	}
}
.main__count {
	background: #fff;
	padding: 1.6rem 2rem 2.4rem;
	z-index: 99;
	border-radius: 0 0 1.6rem 1.6rem;
}
.button__submit {
	background: none;
	border: none;
	cursor: pointer;
}
